<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--引入头部约束-->


<!--编写UserMapper映射文件-->
<mapper namespace="userMapper">
    <select id="findAll" resultType="user">
        select * from user
    </select>
</mapper>


